#.gitignore file
Temp/*
Library/*
Build/*
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.meta
.DS_Store
/Library/FailedAssetImports.txt
/Library/cache/
/Library/metadata
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp

#Un-ignore these specific files

#ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1...ops-pidb-files
*.pidb
*.userprefs
*.meta