*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/Library/FailedAssetImports.txt
/Library/cache/
/Library/metadata
/Library/previews/
/Library/ScriptAssemblies
/Library
/obj
/Temp
*.meta

Library/metadata/02/020000d382f4d4fec870f63b0622b80d

Library/metadata/e0/e0cf203bfaba59e469065bb0efb5fdf1
